@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #0096c7;
  --secondary-color: #a3b18a;
  --accent1-color: #fee440;
  --accent2-color: #fffef8;

  --heading-font: "montserrat", serif;
  --paragraph-font: "roboto", serif;

  --nav-background-color: #fffef8;
  --nav-link-color: #a3b18a;
  --nav-hover-link-color: #0096c7;
  --nav-hover-background-color: #fee440;
}
h1 h2 {
  font-family: var(--heading-font);
  color: black;
  padding: 0;
  margin: 0;
}
p {
  font-family: var(--paragraph-font);
  color: black;
}
a {
  text-decoration: none;
}
body {
  max-width: 1000px;
  margin: 0;
}
.hero {
  position: relative;
}
.hero h1 {
  position: absolute;
  width: 100%;
  top: 20px;
  left: -1px;
  font-family: var(--heading-font);
  color: black;
  font-size: 50px;
  background-color: hsl(208, 100%, 97%, 0.8);
  text-align: center;
}
article img {
  float: right;
  padding: 2px;
  margin: 0;
  max-width: 100%;
}
.hero article {
  width: 800px;
  position: absolute;
  top: 200px;
  right: 100px;
  color: black;
  font-size: 20px;
  background-color: hsl(208, 100%, 97%, 0.8);
}
.hero p {
  color: black;
  font-family: var(--paragraph-font);
}
.hero img {
  max-width: 100%;
  display: block;
  height: auto;
}
img {
  max-width: 100%;
}
.inicio {
  display: flex;
  list-style: none;
  padding: 10px 0;
  font-size: 20px;
  font-family: var(--heading-font);
  align-content: center;
  border: 3px solid;
  border-radius: 6px;
}
.inicio a {
  color: black;
  padding: 10px;
  font-family: var(--heading-font);
}
.logo {
  max-width: 100%;
  width: 200px;
  height: auto;
}
header {
  display: flex;
  justify-content: center;
  padding: 10px;
  background-color: #abb85d4e;
  margin: 5px auto;
}
nav {
  align-self: center;
  padding: 40px;
}
.bb {
  border-right: 1px solid;
}
.historia {
  display: grid;
  grid-template-columns: 1fr 250px 1fr;
  padding: 10px;
  background-color: #edf6f9;
  margin-top: 10px;
  margin-bottom: 0;
}
.tese {
  grid-column: 2;
  font-size: 30px;
  font-family: var(--heading-font);
  justify-self: center;
}
.logito {
  width: 150px;
  grid-column: 2;
  justify-self: center;
}
.primer {
  grid-column: 1;
  grid-row: 2;
  font-family: var(--paragraph-font);
  font-size: 16px;
  text-align: start;
}
.segun {
  font-family: var(--paragraph-font);
  font-size: 16px;
  text-align: start;
}
.fotos {
  display: grid;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
#back {
  background-color: #edf6f9;
  margin-top: 0;
  margin-top: 10px;
  padding: 10px;
}
#foto_tittle {
  text-align: center;
  grid-column: 2;
  font-size: 30px;
  font-family: var(--heading-font);
  margin: 0;
  padding: 15px;
}
.tito {
  width: 180px;
  height: auto;
  grid-row: 2;
}
.footer {
  display: grid;
  grid-template-columns: 150px 1fr 100px;
}
.final {
  align-self: center;
  justify-self: end;
  padding: 0;
  grid-column: 3;
}
.link {
  width: 30px;
}
#ve {
  text-align: center;
  justify-items: center;
  font-family: var(--paragraph-font);
  font-size: 15px;
  grid-column: 2;
}
footer {
  margin: 0;
}
.information {
  display: grid;
  grid-template-columns: 700px 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #fee440;
}
.information h1 {
  grid-column: 1;
  text-align: center;
  font-size: 40px;
  margin-top: 10px;
}
.information p {
  grid-column: 1;
  text-align: start;
  padding: 5px;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 20px;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--heading-font);
}
#maps {
  width: 250px;
  height: auto;
  margin-bottom: 10px;
}
footer {
  display: grid;
  grid-row: 1;
}
.funcionarios {
  display: flex;
  justify-content: space-around;
  background-color: var(--nav-link-color);
  margin-top: 10px;
  margin-bottom: 10px;
}
.funcionarios h2 {
  margin-top: 15px;
  padding: 0;
  text-align: center;
  font-family: var(--heading-font);
  font-size: 30px;
  color: var(--accent1-color);
}
.worksi {
  width: 250px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
}
form {
  background-color: #fee440;
  display: grid;
  padding: 20px;
  gap: 15px;
  border: 5px solid var(--nav-link-color);
  max-width: 400px;
  justify-content: center;
  align-content: center;
  margin-left: 300px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 20px;
  font-family: var(--heading-font);
}
#solo {
  font-size: 20px;
  padding: 10px;
  font-family: var(--heading-font);
}
.pave {
  margin: 0;
  padding: 3px;
  background-color: var(--nav-link-color);
}
input {
  padding: 8px;
}
button {
  padding: 10px;
  font-size: 20px;
  background-color: var(--nav-link-color);
}
.home_1 {
  display: grid;
  padding: 30px;
  gap: 30px;
  justify-items: center;
  text-align: center;
  position: relative;
}

.home_1::before {
  content: "";
  width: 190px;
  height: 3px;
  background-color: var(--nav-link-color);
  position: absolute;
  top: 80px;
}
.barco {
  width: 60px;
  height: auto;

  margin-bottom: 10px;
}
.barquito {
  text-align: center;
  align-content: center;
  background-color: var(--nav-link-color);
  width: 450px;
  height: 398px;
  justify-items: center;
}
.foto2 {
  width: 530px;
  height: auto;
}
.home_2 {
  display: grid;
  grid-template-columns: 450px 1fr;
  justify-items: end;
}
.barquito p {
  font-family: var(--heading-font);
}

.titulos {
  display: grid;
  grid-template-columns: 1fr 150px 180px;
  margin: 30px;
  font-family: var(--heading-font);
}
.family {
  display: grid;
  grid-template-columns: 1fr 180px 180px;
  gap: 20px;
  margin: 20px;
  position: relative;
  font-family: var(--heading-font);
  border-bottom: 1px solid #a3b18a;
}
.family p {
  grid-column: 1;
  margin-bottom: 40px;
}
.family h4 {
  grid-column: 3;
}
.family h3 {
  grid-column: 2;
  text-align: center;
}
.pass {
  display: grid;
  width: 350px;
  margin: 10px;
  padding: 1rem;
  gap: 14px;
  background-color: var(--nav-hover-link-color);
  text-align: center;
  position: relative;
}
.pass h3::before {
  content: "";
  width: 15px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  background-color: #90cc29;
  left: 83px;
  bottom: 277px;
}
.pass h4::before {
  content: "";
  width: 15px;
  height: 10px;
  border-radius: 50px;
  position: absolute;
  background-color: #90cc29;
  left: 75px;
  bottom: 158px;
}
.pass a {
  padding: 10px;
  background-color: #fee440;
  width: 150px;
  height: auto;
  justify-self: center;
  color: black;
  font-family: var(--heading-font);
  border: solid 1px black;
  border-radius: 4px;
  transition: 0.3s;
}
.pass a:hover {
  background-color: #90cc29;
}
.divu {
  display: grid;
  margin-bottom: 20px;
}
.reserva {
  grid-column: 3;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  width: 350px;
  background-color: var(--nav-link-color);
  padding: 15px;
  margin: 5px;
  gap: 5px;
  font-family: var(--heading-font);
  text-align: center;
}
.reserva p {
  font-size: 15px;
  font-family: var(--heading-font);
}

#fota {
  width: 1010px;
}
.trips {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 10px;
  gap: 10px;
}
.fotri {
  margin: 10px;
  width: 320px;
  border-radius: 30px;
  background-color: #f5f5f5;
  position: relative;
}
.fotri h2,
p {
  padding: 10px;
  text-align: center;
  margin-bottom: 30px;
  font-family: var(--heading-font);
}
.fotri h2 {
  color: var(--nav-link-color);
}
.trima {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
#our {
  text-align: center;
  color: black;
  font-family: var(--heading-font);
}
.now {
  padding: 5px;
  background: var(--nav-link-color);
  color: black;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  right: 100px;
}
.capital {
  margin-top: 40px;
  font-family: var(--heading-font);
  font-size: 30px;
}
.bb:hover {
  background-color: var(--nav-hover-link-color);
}
