@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  padding: 20px;
}
:root {
  --primary-color: #0096c7;
  --secondary-color: #a3b18a;
  --accent1-color: #fee440;
  --accent2-color: #fffef8;

  --heading-font: "montserrat", serif;
  --paragraph-font: "roboto", serif;

  --nav-background-color: #fffef8;
  --nav-link-color: #a3b18a;
  --nav-hover-link-color: #0096c7;
  --nav-hover-background-color: #fee440;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}
header {
  padding: 20px;
  background-color: var(--accent1-color);
}
p {
  padding: 25px;
}
nav {
  background-color: var(--accent1-color);
  display: flex;
  gap: 1.5rem;
  padding: 20px;
}
nav a {
  display: block;
  color: var(--nav-hover-link-color);
  text-decoration: none;
  font-size: 20px;
  padding: 1rem;
}
nav a :link,
nav a:visited {
  color: #fff;
}
/*Isso daqui È um comentario */

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--secondary-color);
}

